<div class="row">
  <aside class="col-md-4">
  <section class="user_info">
  <h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
  </h1>
  <h2>
  <%= @user.profile %>
  </h2>
  <p>
  <% if @user == current_user %>
  <div class="edit">
  <%= link_to "プロフィールを編集", edit_user_path(current_user), class: "btn btn-outline-dark common-btn edit-profile-btn" %>
  </div>
  <% end %>
  </p>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>楽曲一覧</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>