<h1>楽曲登録</h1>
<%= form_with(model: @post, local: true) do |f| %>
  <%= f.label :タイトル %>
  <%= f.text_field :caption %>
    <%= f.file_field :song, accept: "song/mp3,song/wav,song/mpeg" %>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>



