<h1>この楽曲について</h1>
<%= link_to gravatar_for(@post.user, size: 50), @post.user %>
  <span class="user"><%= link_to @post.user.name, @post.user %></span>
  <span class="content"><%= link_to @post.caption, (post_path(@post)) %></span>
  <div class="song">
  <%= audio_tag url_for(@post.song), controls: true %>
  <%= link_to "ダウンロード", (@post.song) %>

    <% if current_user?(@post.user) %>
    <%= link_to "削除", @post, method: :delete,
    data: { confirm: "削除してもいいですか?" } %>
    <%= link_to "楽曲情報を編集", edit_post_path(current_user), class: "edit-post btn btn-outline-dark common-btn edit-profile-btn" %>
    <% end %>

  <h2 class="post-profile">
  <%= @post.profile %>
  </h2>
  </div>
